@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

#full-screen{
    background-color: #1f2632;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#advices {
    background-color: #323a49;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 30px;
    border-radius: 15px;
    width: 37%;
}

#advices > small {
    color: #52ffa8;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-size: 0.6em;
    font-weight: 700;
    margin-bottom: 20px;
}

#advices > p {
    color: #cee3e9;
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    width: 80%;
}

#advices > #divider {
    margin-top: 20px;
    margin-bottom: 0;
}

.button-container {
    position: relative;
}

#generate-ad {
    background-color: #52ffa8;
    padding: 12px;
    border-radius: 50px;
    border: none;
    display: flex;
    position: absolute;
    top: 8px;
    left: -23px;
    transition: box-shadow 0.5s;
    cursor: pointer;
}

#generate-ad:hover{
    border-color: #52ffa8; 
    box-shadow: 0 0 23px #52ffa8;
}