@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

#full-screen{
    background-color: #1f2632;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#advices {
    background-color: #323a49;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 30px;
    border-radius: 15px;
    width: 37%;
    height: 50%;
}

#advices > small {
    color: #52ffa8;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-size: 0.6em;
    font-weight: 700;
    margin-top: 35px;
}

#advices > p {
    color: #cee3e9;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    width: 80%;
}

#advices > #divider {
    margin-top: 20px;
}

footer {
    
}